@media (max-width: 576px) {
    .icon{
        display: block;
        
    }
    .menu{
        display: none;
    }
    .banner{
        flex-direction: column;
    }
    .banner-col{
        text-align: center;
        padding: 20px 20px;
    }
    .banner-cardtwo{
        bottom: 200px;
    }
    .card-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
        padding: 20px;
    }
    .Habits{
        padding: 0px 20px;
    }
}